<table class="styled-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>DOB</th>
            <th>email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{ employee.id }}</td>
            <td>{{ employee.firstName }}</td>
            <td>{{ employee.dob | date:'dd/MM/yyyy' }}</td>
            <td>{{ employee.email }}</td>
            <td>
                <button class="btn edit-btn">
                    Update
                </button>
                <button class="btn delete-btn">Delete</button>
            </td>
        </tr>
    </tbody>
</table>